server/stateMachine.json
{
  "Comment": "Get file embeddings add index them to pinecone",
  "StartAt": "ExtractText",
  "States": {
    "ExtractText": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:566006853930:function:extractText",
      "Parameters": {
        "Records": [
          {
            "s3": {
              "bucket": {
                "name.$": "$.detail.bucket.name"
              },
              "object": {
                "key.$": "$.detail.object.key"
              }
            }
          }
        ]
      },
      "Next": "ChunkText",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "UpdateStatusError"
        }
      ]
    },
    "ChunkText": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:566006853930:function:chunkText",
      "Next": "EmbedAndIndexChunks",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "UpdateStatusError"
        }
      ]
    },
    "EmbedAndIndexChunks": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:566006853930:function:embedAndIndexChunks",
      "Next": "CheckIfSuccess",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "UpdateStatusError"
        }
      ]
    },
    "CheckIfSuccess": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "UpdateStatusSuccess"
        }
      ],
      "Default": "UpdateStatusError"
    },
    "UpdateStatusSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:566006853930:function:updateStatusSuccess",
      "End": true
    },
    "UpdateStatusError": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:566006853930:function:updateStatusError",
      "End": true
    }
  }
}
